/Ex1.class
/Ex2.class
/prac1.class
/prac2.class
/prac3.class
/Ex3.class
/prac4.class
/Ex4.class
/Ex5.class
/Ex6.class
/Ex1Prac.class
/Ex2Prac.class
/Ex3Prac.class
/lottoEx.class
/Ex4Prac.class
/Ex5Prac.class
/Ex6Prac.class
/prac5_5.class
/prac5_6.class
